:root {
    --nav-height: 65px;
}


nav#my-nav {
    display: flex;
    height: var(--nav-height);
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgrey;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 5;
}

nav img.logo {
    height: var(--nav-height);
    cursor: pointer;
}

#user-dropdown {
    position: absolute;
    left: 0;
    top: var(--nav-height);
    border: 1px solid lightgray;
    background-color: white;
    width: 150px;
    max-height: calc(100vh - var(--nav-height));
    overflow-y: auto;
}

#omni-container {
    min-width: 100vw;
    min-height: calc(100vh - var(--nav-height));
    background-color: white;
}

#nav-spacer {
    content: '';
    min-height: var(--nav-height);
    height: var(--nav-height);
    width: 100vw;
}

#left-nav {
    display: flex;
}

#right-nav {
    position: relative;
    font-size: 20px;
    padding: 0 20px;
    border-left: 2px solid lightgray;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    cursor: pointer;
}

#dropdown-selector {
    cursor: pointer;
    width: var(--nav-height);
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#dropdown-selector i {
    font-size: 30px;
    cursor: pointer;
}

#user-dropdown li,
#user-dropdown a {
    cursor: pointer;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-dropdown li:hover:not(#puzzle-select),
#developer-dropdown a:hover {
    background-color: var(--highlight-color);
}

#user-dropdown #puzzle-select {
    flex-direction: column;
    cursor: unset;
    padding-top: 10px;
}

#user-dropdown a {
    text-decoration: none;
    color: black;
    width: min-content;
}

#user-dropdown a:hover {
    text-shadow: 0px 0px 5px #fdb515;
}

#logout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.navbar-sep {
    content: '';
    background-color: lightgray;
    width: 100%;
    height: 1px;
}

#developer-dropdown {
    position: absolute;
    top: var(--nav-height);
    right: 0;
    width: 240px;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#developer-dropdown a {
    display: flex;
    flex-direction: column;
    width: 80px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

#developer-dropdown a img {
    width: 50px;
    height: 50px;
}
