#wordle-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--off-black);
    font-size: 36px;
    padding: 0.8em;
    height: max-content;
    width: 100%;
    min-height: calc(100vh - var(--nav-height));
}

#wordle-form {
    z-index: -1;
    position: absolute;
    top: center;
    left: center;
}

#wordle-form,
#wordle-message-container {
    min-height: 1.2em;
}

#wordle-errors {
    color: red;
    font-size: 0.8em;
    transition-property: opacity;
    transition-duration: 0.25s;
}

#wordle-errors.off {
    opacity: 0;
}

#wordle-errors.on {
    opacity: 1;
}

#wordle-rows {
    position: relative;
}

#wordle-rows>#wordle-lost-display {
    background-color: white;
    box-sizing: border-box;
    color: var(--off-black);
    font-size: 24px;
    position: absolute;
    width: 110px;
    left: calc(50% - 55px);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    top: -20px;
    z-index: 1;
    border: 2px solid var(--off-black);
}

#modal-stats {
    width: 300px;
    border: 2px solid lightgray;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#modal-stats h4 {
    margin: 5px;
}

#modal-stats>li {
    padding: 0.6em 0px;
}

#modal-stats span {
    margin: 0px 5px;
}

.statbar {
    background-color: var(--wordle-gray);
    height: 2em;
    content: '';
    display: inline-block;
}

.statbar.relevant {
    background-color: var(--wordle-green);
}

#view-stats-button {
    position: absolute;
    left: 70px;
    top: 180px;
    font-size: 24px;
    background-color: whitesmoke;
    cursor: pointer;
}

#view-stats-button:hover {
    background-color: var(--highlight-color);
}
